@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");

* {
  font-family: "Stalinist One", cursive;
}

body {
  background-color: #070707;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
}

.display {
  background-color: white;
  grid-column: span 4;
}

/* .display > .first-number {
  display: flex;
}

.display > .second.number {
  display: flex;
  justify-content: flex-end;
} */

.cal-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: minmax(70px, auto) repeat(5, 85px);
  margin: 40px 465px;
  background-color: honeydew;
}

.cal-container > .two-span {
  grid-column: span 2;
}

button:hover {
  transition: 0.2s;
  background-color: #96c5b0;
  border: 2px solid #755b69;
}

button:active {
  background-color: #adf1d2;
}

button {
  font-size: 22px;
  border: 1px solid black;
  border-radius: 2px;
}
